html,body,h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    padding: 0;
}

/**** backgrounds && main classes ****/

.fixed-background {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -150px;
    background-attachment: fixed;
    background-color: #000000;
}

#home {
    background-image: url("../img/backgrounds/concert.jpg");
    min-height: 100vh;
}

#first_section_container {
    margin: auto;
}

#events {
    background-image: url("../img/backgrounds/audio.jpg");
    min-height: 100vh;
}

#djs {
    background-color: #F74857;
    min-height: 100vh;
}

#contact {
    background-image: url("../img/backgrounds/headphones3.jpg");
}

.color-nav {
    color: #f74857;
}

.title-section {
    padding-top: 7%;
    margin-bottom: 1%;
}

#home .title-section h1 {
    display: inline;
    float: left;
}

.title-section h1 {
    font-size: 70px;
    line-height: 70px;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    position: relative;

}

.column-width {
    width: 960px;
    margin: auto;
}

/**** fisrt section ***/

header {
    background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 20%,rgba(0,0,0,0) 40%,rgba(0,0,0,0) 100%); /* W3C */
    height: 44px;
    display: block;
    clear: both;
    padding-bottom: 10px;
    position: relative;
    width: 100%;
    z-index: 2;
    position: fixed;
    transition: all 0.3s ease-in-out;
}

header.scrolled {
    height: 44px;
    /*animation-name: fade;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;*/

    /*background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEyJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjMiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjMiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 20%, rgba(0,0,0,0.3) 40%, rgba(0,0,0,0.3) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(20%,rgba(0,0,0,0)), color-stop(40%,rgba(0,0,0,0.3)), color-stop(100%,rgba(0,0,0,0.3)));
    background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 20%,rgba(0,0,0,0.3) 40%,rgba(0,0,0,0.3) 100%);
    background: -o-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 20%,rgba(0,0,0,0.3) 40%,rgba(0,0,0,0.3) 100%);
    background: -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 20%,rgba(0,0,0,0.3) 40%,rgba(0,0,0,0.3) 100%);*/
    background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 20%,rgba(0,0,0,0.3) 40%,rgba(0,0,0,0.3) 100%);
}

.scrolled figure img {
    width: 60px;
    margin-top: -10px;
}

nav {
    text-decoration: none;
    display: inline-block;
    float: right;
    margin-left: 25%;
    z-index: 2;
}

nav ul li {
    display: inline-block;
    color: white;
    padding-right: 20px;
    font-size: 15px;
    font-weight: bold;
    font-family: arial, verdana;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    border-bottom: 2px solid #fff;
    padding-bottom: 3px
}

nav ul li a:active {
    color: #f74857;
}

nav li.active a{
    color: #f74857;
    padding: 0;
}

#listen_online {
    margin: auto;
    position: relative;
    margin-top: 8%;
}

figure {
    float: left;
    margin: 15px 0px 0 0;
}

figure img {
    transition: all 0.3s ease-in-out;
    width: 104px;
}

#listen_title {
    height: 140px;
}

#listen_title h5 {
    color: #FFF;
    font-size: 20px;
    font-family: "Ubuntu",arial,verdana;
    float: left;
    clear: both;
}

#player_icons {
    text-align: center;
    position: relative;
    float: left;
    margin-left: 30px;
}

#player_icons a {
    display: inline-block;
    margin-right: 20px;
}

/*.icons-size {
    height: 25px;
}*/

section {
    overflow: hidden;
}

 /***** Content Boxes Classes (first section) ********/

.boxes-content {
    width: 207px;
    height: 216px;
    color: white;
    display: inline-block;
    position: relative;
    margin-right: 40px;
    margin-top: 2%;
    font-family: arial, verdana;
}

.text-boxes {
    text-transform: uppercase;
    padding-left: 20px;
    position: absolute;
    top: auto;
    bottom: 52px;
}

.text-boxes h3 {
    font-size: 22px;
}

.text-boxes p {
    font-size: 13px;
}

.image-boxes {
    padding-left: 20px;
    position: absolute;
    top: auto;
    bottom: 106px;
}

.button-boxes {
    width: 207px;
    height: 35px;
    background-color: white;
    position: absolute;
    top: auto;
    bottom: 0;
}

.button-boxes a {
    background-color: transparent;
    padding: 193px 132px 13px 20px;
    border: none;
    text-transform: uppercase;
    text-align: left;
    text-decoration: none;
    color: #000000;
    font-size: 9px;
    font-weight: bold;
    cursor: pointer;
    line-height: 35px;
}

.button-boxes a:hover {
    text-decoration: underline;
}

/*** Independent boxes style ***/

/* Tracks box */

#tracks {
    background-color: #fa4d60;
}

#tracks img {
    padding-bottom: 24px;
    margin-left: -3px;
}

/* Gallery box */

#gallery {
    background-color: #b470a1;
}

#gallery img {
    width: 78px;
    height: 82px;
    display: table-cell;
    vertical-align: middle;
}

/* Store box */

#store {
    background-color: #fa814a;
}

/* Broadcaster box */

#broadcaster {
    background-color: #76ccdb;
    margin-right: 0px;
}

/* end of first section*/

/***** Second section (Music & Events) *****/

#music_events {
    color: white;
    font-family: arial, verdana;
    display: block;
    margin: auto;

}

#title_events {
    margin-bottom: 11%;
}

#music_events a {
    width: 100px;
    height: 25px;
    text-decoration: none;
    text-transform: uppercase;
    border: solid white 1px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    float: right;
    text-align: center;
    font-family: arial, verdana;
    font-size: 16px;
    padding-top: 10px;
    margin-right: 50px;
    letter-spacing: 2px;
}

#music_events a:hover {
    background-color: white;
    color: black;
    font-weight: bold;
}

#music_events div {
    margin-bottom: 2%;
}

/****** Gallery events ***********/

.galleria {
    width: 90%;
    height: 350px;
    background: transparent;
    margin: 2% auto;
}

/**** Third section (Our DJS) ****/

#our_djs {
    color: white;
    font-family: arial, verdana;
}

#dj_box_container {
    height: 215px;
}

.dj-box {
    height: 222px;
    width: 24%;
    color: white;
    display: inline-block;
    text-align: center;
}

.name-dj {
    font-size: 18px;
    padding-top: 9px;
    letter-spacing: 1px;
}

.name-dj p {
    padding-top: 4px;
}

.dj-picture {
    border-radius: 50%;
    overflow: hidden;
    width: 132px;
    height: 132px;
    margin: auto;
    margin-top: 18px;
    border: white solid 3px;
}

#user_box {
    margin: auto;
}

#user_dj{
    margin: auto;
    width: 100%;
    height: 400px;
}

#user_photo img {
    width: 132px;
    height: 132px;
}

/**** Fourth section (Credits) *****/

#contact_us {
    min-height: 100vh;
    margin: auto;
}

#jotform {
    width: 100%;
    margin-top: -15px;
}

#final_buttons {
    margin-left: 44%;
    margin-top: 0px;
}

.social-button {
    display: inline-block;
    text-align: center;
    margin-left: 10px;
}

.social-button img {
    height: 29px;
    display: inline-block;
}

/****** Media dimensions *****/

@media all and (max-width: 960px) {

    nav {
        margin-left: 0px;
    }

    #listen_online {
        width: 100%;
    }

    .title-section h1 {
        font-size: 40px;
        font-family: "Ubuntu",sans-serif;
        color: #FFF;
        position: relative;
        float: none;
        position: static;
        text-align: center;
    }

    #home .title-section h1 {
        display: block;
        float: none;
    }

    #player_icons {
        text-align: center;
        position: relative;
        float: none;
        margin-bottom: 8px;
    }

    #listen_title h5 {
        text-align: center;
        float: none;
        margin-bottom: 11px;
    }

    .button-boxes a {
        clear: both;
        padding: 93px 95px 13px 20px;
    }

    .column-width {
        width: 80%;
        margin: auto;
    }

    #boxes {
        margin: auto;
        width: 430px;
        padding-top: 25px;
    }

    .image-boxes {
        display: none;
    }

    .boxes-content {
        width: 170px;
        height: 116px;
    }

    .button-boxes {
        width: 170px;
        height: 35px;
    }

    .text-boxes h3 {
        font-size: 18px;
    }

    .text-boxes p {
        font-size: 10px;
    }

    .text-boxes {
        padding-left: 10;
    }

    header {
        width: 100%;
    }

}